fastapi
uvicorn
streamlit
langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-tavily
langchain-huggingface

tavily-python
groq

beautifulsoup4
requests

sentence-transformers
faiss-cpu

python-docx
reportlab

python-dotenv

pydantic

typing_extensions